/* style.css */

/* Set the canvas element to be the full size of the container */
canvas {
    width: 50%;
    height: 100%;
}

/* Center the canvas element on the page */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}

#canvas-container {
    width: 600px;
    height: 400px;
    align-items: center;
    justify-content: center;
}